<!doctype html>
<html>
<head>
  <title>A Compliment</title>
  <link href="static/madlibs.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">

</head>
<body>
    <h1>Hi {{ person }}! I think you're</h1> 

    
    {% for compliment in compliments%}
        {{compliment}}<br>
    {%endfor%}
      
    <br>
    <form action="/game">
        Would you like to play a game? ;) <br>
        <input type="radio" name="play_game" value="no"> No
        <input type="radio" name="play_game" value="yes"> Yes<br><br>
        <input type="submit" value="Enter"> 
    </form>
</body>
</html>