<!doctype html>
<html>
<head>
  <title>Madlib Time</title>
  <link href="static/madlibs.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
</head>
<body>

    <h1>Let's get some Madlib ingredients!</h1>
    <form action="/madlib">
        Person <br>
        <input type="text" name="person" placeholder="ex: Bob Ross"><br>
        Color <br>
        <input type="text" name="color" placeholder="ex: purpleish"><br>
        Noun <br>
        <input type="text" name="noun" placeholder="ex: toothbrush"><br>
        <!-- Adjective: <input type="text" name="adjective"><br> -->
        <br>
        Adjective(s)<br>
        <input type="checkbox" name="adjective" value="spicy">spicy<br>
        <input type="checkbox" name="adjective" value="warm">warm<br>
        <input type="checkbox" name="adjective" value="moist">moist<br>
        <input type="checkbox" name="adjective" value="dirty">dirty<br>
        <input type="checkbox" name="adjective" value="silly">silly<br>
        <br>
        <input type="submit" class="submit_button" value="Get me that Madlib"><br>
    </form>

</body>
</html>