<!doctype html>
<html>
<head>
  <title>Madlib Time</title>
  <link href="static/madlibs.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
</head>
<body>

    <h1>{{ person.title() }} being {{ adjective }}!</h1>
    

    <p>
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
        When {{ person.title() }} went to pick it up, it burst into flames in a totally
        {{ adjective }} way.
    </p>

</body>
</html>